/**
 * index.small.css deal with website disposition for smaller screen.
 * author: aitva
 * date: 2016/01/29
**/
header,
main .container,
footer {
    border: 0;
    border-left: 0;
    border-right: 0;
}
header .container, main .container, footer .container {
    width: 100%;
}

header .title {
    width: 100%;
    text-align: center;
}
header .nav {
    margin: 0;
    width: 100%;
    padding: 7.5px 0;
    border-top: 1px solid #f76664;
    /*border-bottom: 1px solid rgba(0,0,0,0.15);*/
    box-shadow: inset 0 1px 0 #ff8280,0 8px 10px rgba(0,0,0,0.15);
    background-color: #FF5E5B;
}
header .nav-js {
    left: 0;
    top: 6.2em;
    position: absolute;
    z-index: 9000;
}
header .nav-item {
    display: block;
    padding-left: 0;
}

main .container {
    padding: 0 15px;
}
