/**
 * index.small.css deal with website disposition for smaller screen.
 * author: aitva
 * date: 2016/01/29
**/
header,
main .container,
footer {
    border: 0;
    border-left: 0;
    border-right: 0;
}

header .container, main .container, footer .container {
    width: 100%;
}

header .title {
    width: 100%;
    text-align: center;
}

header .nav {
    margin: 0;
    width: 100%;
    padding: 7.5px 0;
    background-color: #FFEAEE;
    box-shadow: 0 1px 4px -1px;
}

header .nav-item {
    padding-left: 1em;
}

header a {
    text-decoration: none;
    color: #FF5E5B;
}

header a:hover {
    text-decoration: none;
    color: #FFF;
}

main .container {
    padding: 0 1em;
}
