/**
 * index.css deal with website disposition and adaptation.
 * author: aitva
 * date: 2016/01/29
**/
html, body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FFF;
}

header .container, main .container, footer .container {
    width: 980px;
    margin: 0 auto;
}

header {
    background-color: #FF5E5B;
    display: flex;
}
header .container {
    display: flex;
    flex-flow: row wrap;
    /*height: 3em;*/
    /*background-image: url("/blog/img/moss-crop-980.jpg");
    background-repeat: no-repeat;*/
}
header .title {
    align-self: center;
}
header .nav {
    margin-left: auto;
    align-self: center;
}
header .nav-item {
    display: inline;
    padding-left: 0.2em;
}
header .nav-switch {
    height: 2.5rem;
    width: 2.5rem;
    line-height: 1rem;
    position: absolute;
    padding: 5px 8px;
    top: 1.85rem; /* (6.2 / 2) - (2.5 / 2)*/
    right: 0.5rem;
    border: 0;
    background-color: transparent;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 1em;
}
main .container {
    padding: 0 2em;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #7F675B;
}

footer {
    width: 100%;
    margin-top: 1em;
}
footer .container {
    border-top: 1px solid #7F675B;
}

.hidden {
    display: none;
}
