<!doctype html>
<html>
    <head>
        {{ partial "head.html" }}
        <title>{{ .Title }}</title>
    </head>
    <body>
        {{ partial "header.html" . }}
        <main>
            <article>
                <h1>Derniers articles :</h1>
                <ul>
                    {{ range first 10 (where .Data.Pages "Type" "post") }}
                    <li>
                        <b><a href="{{ .Permalink }}">{{ .Title }}</a></b><br/>
                        {{ dateFormat "02/01/06" .Date }} - {{ .Description }}
                    </li>
                    {{ end }}
                </ul>
            </article>
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
